---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
SpaceBeforeParens: Never
PointerAlignment: Right
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: false
SortIncludes: Never
SeparateDefinitionBlocks: Always